body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0a0014, #1a0033);
  color: white;
  text-align: center;
}

/* HEADER */
header {
  padding: 40px 20px;
}

.logo {
  width: 220px;
  filter: drop-shadow(0 0 15px #a855f7);
}

h1 {
  margin: 10px 0 0 0;
  font-size: 50px;
  color: #c77dff;
}

.subtitle {
  color: #aaa;
  margin-top: 5px;
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px;
}

.card {
  background: #140022;
  border: 1px solid #5a00a8;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #a855f7;
}

.price {
  font-size: 22px;
  color: #c77dff;
  margin: 10px 0;
}

/* BUTTON */
button {
  background: #7b2cbf;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #9d4edd;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 20px;
  color: #777;
}
